<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1" width="100%">

    <tr>
        <th><h3>Excel</h3></th>
        <th><h3>CSV</h3></th>
        <th><h3>Update Excel</h3></th>
        <th><h3>Update CSV</h3></th>
    </tr>
    <tr>
        <td>
            <a href="upload_excel">Upload Excel </a>
        </td>
        <td>
            <a href="upload_csv">Upload CSV </a>
        </td>
        <td>
            <a href="update_excel">Update Excel </a>
        </td>
        <td>
            <a href="update_csv">Update CSV </a>
        </td>
    </tr>
</table>
</body>
</html>