<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1" width="100%">

    <tr>
        <th><h4>Excel</h4></th>
        <th><h4>CSV</h4></th>
        <th><h4>Update email</h4></th>
    </tr>
    <tr>
        <td>
            <a href="upload_excel">Upload Excel File</a>
        </td>
        <td>
            <a href="upload_csv">Upload Excel File</a>
        </td>
        <td>
            <a href="update_email">Upload Excel File</a>
        </td>
    </tr>
</table>
</body>
</html>