<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1" width="100%">

    <tr>
        <th><h3>Excel</h3></th>
        <th><h3>CSV</h3></th>
        <th><h3>Update email</h3></th>
    </tr>
    <tr>
        <td>
            <a href="upload_excel">Upload Excel File</a>
        </td>
        <td>
            <a href="upload_csv">Upload Excel File</a>
        </td>
        <td>
            <a href="update_email">Update Emails</a>
        </td>

    </tr>
</table>
</body>
</html>